ul{
  display: flex;
}

.navigation_bar{
  text-align: center;
}
/*shadow box instead of border*/
li:hover{
  box-shadow: 0 2px 0 antiquewhite, 0 2px 0 antiquewhite inset;
}
ul, ul li, li {
  list-style: none;
  padding:0;
  margin: 10px;
  text-align: center;
}
a {
  text-decoration: none;
  outline: none;
}
a:visited {
  color: whitesmoke;
  outline: none;
}
a:link {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0);
}

.navigation_bar{
  width: 100%;
  text-align: center;
}
