.products{
  display: flex;
}

.product{
  text-align: center;
  margin: 10px;
  width: 150px;
}
/*shadow box instead of border*/
.product:hover{
  box-shadow: 0 2px 0 antiquewhite, 0 2px 0 antiquewhite inset;
}

.content{
  text-align: center;
}

.Input_forms {
  width: 60%;
  color:whitesmoke;
  /*margin: 0 10px 5px 5px;*/
  background: transparent;
  border-color: whitesmoke;
  border-radius: 5px;
  padding-left: inherit;
  margin-top: 5px;
}

input {
  outline: none;
  text-indent: 5px;
}

.error, .message{
  font-weight: bold;
}

.message{
  color: lawngreen;
}

.error{
  color: orangered;
}
