.orders{
  box-shadow: 0 2px 0 antiquewhite, 0 2px 0 antiquewhite inset;
}

.order{
  text-align: center;
  width: 100%;
  display: flex;
}

.orderDetail{
  margin: 10px;
}

.Input_forms {
  color:whitesmoke;
  /*margin: 0 10px 5px 5px;*/
  background: transparent;
  border-color: whitesmoke;
  border-radius: 5px;
  padding-left: inherit;
  margin-top: 5px;
}

input {
  outline: none;
  text-indent: 5px;
}
