<div>Email:
  <input type="text" class="Input_forms" #orderInput >
  <button type="submit" (click)="createOrder(orderInput.value)">Create order</button>
</div>
<div [ngClass]="msgClass()">{{message}}</div>
<div class="orders">
  <div class="order"  *ngFor="let order of orderList" (click)="goToOrder(order.id)">
    <div><b>#{{order.id}}</b></div>
    <div>{{order.email}}</div>
    <div>Created on {{order.date | date: "hh:mm:ss dd.MM.yyyy"}}</div>
    <div><b>Total:</b> ${{order.sum | price | number:".2" }}</div>
  </div>
</div>
